<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
</head>

<body>
<div>

    <form action="#" th:action="@{/users/user}" th:object="${userr}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{username}" id="name" placeholder="Name">
<!--        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>-->
        <input class="btn btn-success" type="submit" value="Add User">
    </form>

    <div class="alert alert-warning" role="alert">
        A simple primary alert—check it out!
    </div>

    <h2 th:if="${users} == null or ${users.isEmpty()}">No users yet!</h2>
    <div th:if="${users} != null and !${users.isEmpty()}">
        <h2 >Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td>
                    <div th:if="${authenticatedUserRoles.contains('ROLE_ADMIN')}"> <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a> </div>
                </td>
                <td>
                    <div th:if="${authenticatedUserRoles.contains('ROLE_ADMIN')}"><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a> </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <p>
        <div th:if="${authenticatedUserRoles.contains('ROLE_USER')}"> <a href="/signup">Add a new user</a> </div>
    </p>
    <div class="d-flex justify-content-center align-items-center" style="height:20em;">
        <span class="text-primary bg-warning" id="demo"></span>
    </div>
</div>
</body>
</html>